.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(25, 206, 219);
}
.note{
    font-size: 15px;
    color: rgb(182, 100, 7);
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid rgb(128, 17, 17);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(9, 18, 141);
}